body {
	width: 100%;
	margin: 30px auto;
}

table {
	border-collapse: collapse;
}

table, tr, td {
	border: 1px solid #DBDBDB;
}

td {
	height: 30px;
	padding-right: 15px;
	padding-left: 15px;
}

#box {
	margin: 3px auto 3px;
	font-family: 'Microsoft YaHei';
	font-size: 14px;
}

#box input[text] {
	width: 260px;
	border: 1px solid #e2e2e2;
	height: 30px;
	float: left;
	background-repeat: no-repeat;
	background-size: 25px;
	padding: 0 0 0 40px;
}

/*.search {
	height: 32px;
	float: right;
	background: black;
	color: white;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
}
*/